@{
    ViewData["Title"] = ViewData["BlogName"] + "iCyrene的个人博客";
}

    <articlelist>
        
        @{List<BlogSummary> blogs = ViewData["Blogs"] as List<BlogSummary>; }
        @for (int i = 0; i < blogs.Count; i++)
        {
            <div class="item">
                <div class="item-left">
                    <div class="item-title">
                        <a href="/blog/article/index/@blogs[i].title" title="@blogs[i].title">@blogs[i].title</a>
                    </div>
                    <div class="item-summary">
                        <p>
                            @blogs[i].summary
                        </p>
                    </div>
                    <div class="item-tags">
                        @for(int j = 0; j < blogs[i].keyword.Length; j++)
                        {
                            <div>
                                <img src="~/blogasset/img/tag.png">
                                <a href="/blog/article/list/@blogs[i].keyword[j]">@blogs[i].keyword[j]</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="item-right">
                    <img src="~/blogasset/tags/@blogs[i].image" />
                </div>
            </div>
        }
    </articlelist>
<!-- Pagination 下面分页导航-->
<div class="pagination">
    <!--<a href="#" class="button previous">Previous Page</a>-->
    <div class="pages">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <span>&hellip;</span>
            <a href="#">20</a>
    </div>
    <a href="#" class="button next">Next Page</a>
</div>


