@{
    ViewData["Title"] = "list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    @{List<string[]> blogs = ViewData["Blogs"] as List<string[]>; }
    @for (int i = 0; i < blogs.Count; i++)
    {
        <li><a href="/blog/article/index/@blogs[i][0]" title="@blogs[i][0]">@blogs[i][0]</a></li>
    }
</ul>

