@model Ic.Web.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="layui-form" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="layui-form-item">
                <label class="layui-form-label" asp-for="Text"></label>
                <div class="layui-input-block">
                    <input class="layui-input" asp-for="Text" placeholder="请输入标题"/>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" asp-for="Day"></label>
                <div class="layui-input-block">
                    <input class="layui-input" asp-for="Day" />
                    <span asp-validation-for="Day" class="text-danger"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

