@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Layout Sample";
}
<h2>LayoutSample</h2>
<p>
    This content is mergerd with the layout page
</p>
