@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Ic.Web.Models
@model IEnumerable<Menu>
@{
    //Layout = null;
    ViewBag.Title = "Passing a model";
}
<h2>Passing a model</h2>
<div>
    <ul>
        @foreach(var item in Model)
        {
            <li>@item.Text</li>
        }
    </ul>
</div>

