@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Ic.Web.Models
@*根据类型接收模型*@
@model IEnumerable<Event>  
@{
}
<h2>
    @ViewBag.EventsTitle
</h2>
<table>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Day</td>
            <td>@item.Text</td>
        </tr>
    }
</table>