@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*根据类型接收模型*@
@model Ic.Web.Models.EventsAndMenusContext
@{
    ViewBag.Title = "Use a Partial View";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function(){
        $("#getEvents").click(function(){
            $("#events").load("/ViewsDemo/ShowEvents");
        });
    });
</script>
<h2>Use a Partial View</h2>
<div>this is a main view</div>
<button id="getEvents">Get Events</button>
<div id="events"></div>