<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <environment names="Development">
        <link rel="stylesheet" href="~/css/layout.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
    
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>
    <div>
        <header>
            <h1>ASP.NET MVC Sample App</h1>
        </header>
        
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>
                    <a href="#">ViewsDemo</a>
                    <ul>
                        <li><a asp-controller="ViewsDemo" asp-action="LayoutSample">Layout Sample</a></li>
                        <li><a asp-controller="ViewsDemo" asp-action="LayoutUsingSections">Layout Using Sections</a></li>
                        <li><a asp-controller="ViewsDemo" asp-action="PassingAModel">Passing a model</a></li>
                        <li><a asp-controller="ViewsDemo" asp-action="UseAPartialView1">Use a partial view 1</a></li>
                        <li><a asp-controller="ViewsDemo" asp-action="UseAPartialView2">Use a partial view 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">HTMLHelpers</a>
                    <ul>
                        <li><a asp-controller="HTMLHelpers" asp-action="Display">Display</a></li>
                        <li><a asp-controller="HTMLHelpers" asp-action="HelperList">HelperList</a></li>
                        <li><a asp-controller="HTMLHelpers" asp-action="HelperWithMenu">HelperWithMenu</a></li>
                        <li><a asp-controller="HTMLHelpers" asp-action="StronglyTypedMenu">StronglyTypedMenu</a></li>
                    </ul>
                </li>
                <li>
                    <a asp-controller="TagHelpers" asp-action="Index">TagHelpers</a>
                    <ul>
                        <li><a asp-controller="TagHelpers" asp-action="LabelHelper">LabelHelper</a></li>
                        <li><a asp-controller="TagHelpers" asp-action="FormHelper">FormHelper</a></li>
                        <li><a asp-controller="TagHelpers" asp-action="CustomHelper">CustomHelper</a></li>
                    </ul>
                </li>
                <li><a href="#">Demo</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <br />
        <h3></h3>
        <div>
            @RenderSection("PageNavigation",required:false)
        </div>
        <div>
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>
                <div>Sample Code for Professional C#</div>
                # @DateTime.Now.Year - My ASP.NET Application
            </p>
        </footer>
    </div>
</body>
</html>
