.item {
    background-color:aliceblue;
    margin:20px;
    padding:10px;
    float:none;
    border-radius:10px;
}
.item-title{
    height:30%;
    margin:3px;
}
.item-summary{
    height:70%;
    margin:3px;
}
.item-title a{
    font-size:24px;
    color:black;
}
.item-summary p {
    font-size: 18px;
    color: black;
}
.item-left{
    width:80%;
    padding:1px;
    display:inline-block;
}
.item-right{
    width:16%;
    padding:1px;
    display:inline-block;
}


